.banner {
  background-image: url("https://i.ibb.co.com/bS6BD7c/Medimart-Name-Board-1.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
